body
{ 
margin: 0;
    padding: 0;
    background: #000;

}
img#iconform2 {
    display: block;
    margin: auto;
    padding-top: 18px;
    width: 44%;
}
.cadre-container{
    margin-top: 5%;
    margin-bottom: 5%;
    border: 10px solid #E9EBEE;
    background-color: #E9EBEE;
    width: 80%;
}
.form1{
    padding: 5%;
    border-radius: 21px 0px 0px 21px;
    background-color: #FAFAFA;
}
.form1 h2{
    text-align: center;
    color: #333;
	font-weight: 700;
	padding-bottom: 26px;
}

#labelEmail input,#labelPassword input{
    width: 100%;
    background-color: #EEEEEE;
    border-radius: 0px;
    border: 0px;
}
#ForgetPassword{
float: right;
 color:#9faab7;	
}
h1#titreform2 {
    color: #fff;
    font-weight: 700;
	    font-size: 37px;
}


p#titreform2 {
    color: #fff;
    text-align: center;
}
#btnRegister{
	    background: transparent;
    border: 1px solid #fff;
    border-radius: 23px;
    color: #fff;
}

.login-form-2{
    padding: 5%;
    background: linear-gradient(136deg, #232130 -42%, #4F2156 59%);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit {
    width: 100%;
    padding: 1.5%;
    border: none;
    height: calc(2.25rem + 2px);
    color: #fff;
    background: #9C27B0;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
p.texttrait {
    padding-top: 4%;
	color:#9faab7;
}
.divtrait {
    display: flex;
    /* padding: 1px; */
}
        
.hr {
    /* color: #000 !important; */
    margin-top: 7.5%;
    width: 29%;
    height: 2%;
    border: 1px solid #9faab7;
}
.inputText{
	color:#9faab7;
}
/***** Media *****/
@media (min-width: 1200px) {

}



@media (max-width: 1199.98px) {
	h1#titreform2 {
		font-size: 32px;
	}
}

@media (max-width: 991.98px) { 
  h1#titreform2 {
		font-size: 23px;
	}
	p.texttrait {
    font-size: 14px;
    }
}
@media (max-width: 897.98px) { 
	.chek {
		font-size: 13px;
	}
    p.texttrait {
    font-size: 12px;
    }
}
@media (max-width: 767.98px) { 
	.chek {
		font-size: 15px;
	}
	  p.texttrait {
		padding-top: 5%;
		font-size: 13px;
	}
}
@media (max-width: 575.98px) {

}






